//Here I am styling the button to be pink
.button
{
-fx-background-color: pink;
}

//Here I am styling the background to be purple
.root
{
-fx-background: purple;
}

//Here I am stying the table view to be yellow
.table-view
{
-fx-background-color: yellow;
}

//Here I am stying the list view to be yellow
.list-view
{
-fx-background-color: yellow;
}

//Here I am stying the color of the label text to be blue
.label
{
-fx-text-fill: blue
}